.overall{
    margin: 0px;
    padding: 0px;
    border: 1px solid #fff;
    width: auto;
    height: 85px;
}
.uls2{
    padding: 0px;
    margin: 0px;
}

.logo{
    width: 113px;
    height: 13px;
  display: inline-block;
  float: right;
    
}
.uls3{
    list-style-type: none;
    text-align: center;
    display: inline-block;
}
ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    text-decoration: none;
    color:#7B8585;
    transition:0.3s;
    font: bold 14px Arial;
}
ul li:hover {
    background-color:#beecea;
}

ul li.active {
    background-color:#41c7c2;
}

a {
    text-decoration: none;
    color: #7b8585;
    display: block;
}

ul li.active a {
    color: #fff;
}

.dlbtn{
direction: trl;
}