.maincard {
  border: 1px solid #fff;
  margin-left: 16rem;
  display: flex-box;
  background-color: rgb(69, 238, 201);
  justify-content: center;
  justify-items: center;
}

.maincard-card1 {
  width: 0rem;
  height: 17rem;
  margin-bottom: 2rem;
  padding-bottom: 15rem;
  justify-content: center;
}
.maincard-card1-p,
.maincard-card1-h1 {
  width: 60rem;
  direction: rtl;
  margin-top: -10rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}
.maincard-card2 {
  background-color: bisque;
  height: 15rem;
  margin-bottom: 2rem;
  padding-bottom: 12rem;
  justify-content: center;
  justify-items: center;
}
.maincard-card2-img {
  direction: ltr;
}

.maincard-card2-p {
  width: 65rem;
  direction: rtl;
  margin-bottom: 2rem;
  margin-right: 4rem;
  margin-top: -24rem;
  margin-left: -18rem;
}

.maincard-card3 {
  height: 17rem;
  margin-bottom: 2rem;
  padding-bottom: 15rem;
  background-color: rgb(207, 198, 188);
  justify-content: center;
  justify-items: center;
}

.maincard-card3-img {
  margin-top: 10rem;
}

.maincard-card3-p {
  width: 65rem;
  direction: rtl;
  margin-top: -18rem;
  margin-left: -10rem;
}
