.graybox{
    /* background-color: rgb(99, 95, 95); */
    display: flexbox;
    color: #fff;
    font-size: larger;
    padding: 2rem;
    margin: 5rem;
    width: 80rem;
 
}

.graybox-h2{
    direction: rtl;
    display: flexbox;
    

}
.graybox-h2{
margin: 1.5rem;
}

.graybox-input{
direction: rtl;
display: flex;
width: -15rem;
/* margin-left: -1.5rem;
width: 22rem;
height: 2rem;
justify-content:left; */
height: 2rem;
justify-content: right;


}
.graybox-input  :first-child{
    /* color: blue; */
    width: 25rem;
    margin-left: -1.5rem;

}

.graybox-icons{
    justify-content: center;

}
.graybox-button{

justify-content: center;
display: flexbox;
}

.graybox-icons{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 250%;
    margin-right: 22rem;
    margin-top: -2rem;
}

.graybox-button{
    justify-items: center;
    display: flex;
    

}