@import url(https://db.onlinewebfonts.com/c/f8ecf8ba4bdf80a4ba4277a3b2f702b6?family=PeydaWeb+SemBd);
@font-face {
  font-family: "PeydaWeb SemBd";
  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot");
  src: url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/f8ecf8ba4bdf80a4ba4277a3b2f702b6.svg#PeydaWeb SemBd")format("svg");
}
*{
  font-family: PeydaWeb SemBd;
}